body {
    margin: 0px;
    height: auto;
    background-color: black;
    
}

p {
    background-color: black;
    color: #aaade4;
    font-size: 54px;
    font-weight: 900;
    font-style: italic;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
}

.deafheaven-text {
    height: 100px;
    width: auto;
}

.deafheaven-sidebar-logo{
    height: 50px;
    width: auto;    
}

.hero {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
}

.links-container {
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 300px;

    background-color: black;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.75);
    transition: 0.5s ease-out;
}

nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    
    display: flex;
    justify-content: center;

    text-decoration: none;
    color: white;

}

nav a:hover {
    background-color: #aaade4;
    font-weight: bold;
}

.open-sidebar-button, .close-sidebar-button {
    display: block;
    padding: 10px 20px;
}

#sidebar-active:checked ~ .links-container {
    left: 0;

}

#sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

#sidebar-active { 
    display: none;
}

@keyframes band {
  0%, 100% {
    background-image: url("images/band/Deafheaven1.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  33% {
    background-image: url("images/band/Deafheaven2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  66% {
    background-image: url("images/band/Deafheaven3.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.Band {
    width: 1920px;
    height: 960px;
    position: absolute;
    
}

.band-images {
   width: 1920px;
   height: 960px;
   animation: band 60s infinite;
   
}

/* The albums section */

.albums-container {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
    padding-top: 64px;
    gap: 320px;
    align-items: center;
    justify-content: center;
}

.album {
  width: 255px;
  height: 255px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.album h2 {
  color: #aaadef;
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

.album::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    #aaade4
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.album:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #aaade4;
}

.album:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

/* Band Members pop-up section */

 .band-members-layout {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
    padding-top: 64px;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    position: relative;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 225px;
    position: relative;
    max-width: 100%;
    

    border-radius: 8px;
    box-shadow: 0 6px 8px #aaade4; 
    transform: 0.3s ease, box-shadow 0.3s ease;
    
}

.popup-body {
    text-wrap: wrap;
    width: 225px;
    padding-top: 4px;
    padding-bottom: 4px;

    border-radius: 2px;

    background-color: #aaade4;
    color: black;
    font-weight: bold;
    font-size: 24px;

    text-align: center;
    position: absolute;
    bottom: 0;
    transform: translateY(0);

}

.popup-image:hover + .popup-body{
   transform: translateY(100%);
   transition: ease-in-out 0.5s;
}

.popup-image {
    z-index: 2;
    max-width: 100%;
} 

.story {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding-top: 56px;
}

.story-button {
    background-color: #aaade4;
    color: black;

    padding: 20px;
    padding-left: 80px;
    padding-right: 80px;

    font-size: 32px;
    font-weight: 900;
    box-shadow: 0px 6px 12px #a7abf8;
    transform: skewX(-20deg);
    transform: 0.4s ease-in-out;
}

.story-button:hover {
    
    transform: skew(-20deg) translateY(-20px) translateX(10px) scaleX(1.2);
    
}

#st{
    text-decoration: none;
    color: black;
}

.button-text {
    transform: skew(20deg) scaleX(-0.2); 
  transition: transform 0.4s ease-in-out;
}


.footer {
    display: flex;
    justify-content: space-between;
    padding-left: 48px;
    padding-right: 48px;
    align-items: center;
    background-color: black;

}

.logo {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: #aaade4;
    margin-right: 32px;

}

.footer-links {
    gap: 4px;
    padding: 16px;
}