body {
    margin: 0px;
    height: auto;
    
}

 .deafheaven-text {
    height: 100px;
    width: auto;
}

.deafheaven-sidebar-logo{
    height: 50px;
    width: auto;    
}

.hero {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: black;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.links-container {
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10;
    width: 300px;

    background-color: black;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.75);
    transition: 0.5s ease-out;
}

nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    
    display: flex;
    justify-content: center;

    text-decoration: none;
    color: white;

}

nav a:hover {
    background-color: #aaade4;
    font-weight: bold;
}

.open-sidebar-button, .close-sidebar-button {
    display: block;
    padding: 10px 20px;
}

#sidebar-active:checked ~ .links-container {
    left: 0;

}

#sidebar-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

#sidebar-active {
    display: none;
}

@keyframes band {
0% { background-image: url("../images/band/Deafheaven1.jpeg"); }
33% { background-image: url("../images/band/Deafheaven2.jpeg"); }
66% { background-image: url("../images/band/Deafheaven3.jpeg"); }
100% { background-image: url("../images/band/Deafheaven1.jpeg"); }
} 

.Band {
    width: 1865px;
    height: 960px;
    position: absolute;
}

.band-images {
   width: 100vw;
   height: 960px;
   background-repeat: no-repeat;
   animation: band 30s ease-in-out infinite;
}

.albums-container {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    padding: 32px;
    padding-top: 64px;
    gap: 320px;
    align-items: center;
    justify-content: center;
}

.album {
  width: 255px;
  height: 255px;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.album h2 {
  color: #aaadef;
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

.album::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    #aaade4
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.album:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #aaade4;
}

.album:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}